<section>
  <h1>About Me</h1>
  {% img left /images/me_formal.jpg 'me:)' 'Karol Galanciak - photo' %}
  <p>Hi, my name is Karol Galanciak, I'm a technical polyglot and domain expert in vacation rental and fitness industries.</p>

  <p>I'm available for Ruby on Rails and Ember.js consulting. I specialize in building APIs, microservices architecture, working with legacy applications, migrating legacy frontends to Ember apps and building payment processors for credit cards processing. If your business needs technical help, let's talk.</p>

  <p id="email-me"></p>
</section>

<script type="text/javascript">
  (function(d, id, lhs, rhs) {
    d.getElementById(id).innerHTML = "You can reach me at <a rel='nofollow' href='mailto:" + lhs + "@" + rhs + "'>" + lhs + "@" + rhs + "</a>";
  })(window.document, 'email-me', 'karol.galanciak', 'gmail.com');
</script>
