<section>
  <h1>About Me</h1>
  {% img left /images/me_formal.jpg 'me:)' 'Karol Galanciak - photo' %}
  <p>Hi, I'm Karol Galanciak, I'm a distributed systems architect and a domain expert in vacation rental industry, taking it to the next level as CTO of <a href="https://www.bookingsync.com">BookingSync</a></p>

  <p>I specialize in distributed systems and microservices architecture, working with message queues, distributed streaming platforms, designing APIs and working with legacy applications.</p>

  <p id="email-me"></p>
</section>

<script type="text/javascript">
  (function(d, id, lhs, rhs) {
    d.getElementById(id).innerHTML = "You can reach me at <a rel='nofollow' href='mailto:" + lhs + "@" + rhs + "'>" + lhs + "@" + rhs + "</a>";
  })(window.document, 'email-me', 'karol.galanciak', 'gmail.com');
</script>
