<article class="post">
  <span class="post-meta post-date">
    <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%-d %b %Y" }}</time>
  </span>
  <div class="post-content">
    <header class="post-header">
      <h2 class="post-title">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
    </header>
    <p>
      {{ post.excerpt | strip_html | truncate: 220 }}
      <a href="{{ post.url | prepend: site.baseurl }}" title="Permalink to: {{ post.title }}"><span class="read-more">{{ site.excerpt_link }}</span></a>
    </p>
  </div>
</article>
