<section class="share-buttons">
  <h4 class="share-this-article">Share this article</h4>
  {% comment %}
    A plain link, not the Twitter widget. The widget loaded platform.twitter.com on
    every article and set third-party cookies to render one button.
  {% endcomment %}
  <a class="button button-ghost"
     href="https://twitter.com/intent/tweet?url={{ page.url | prepend: site.url | uri_escape }}&amp;text={{ page.title | uri_escape }}"
     target="_blank" rel="noopener">Share on X</a>
  <a class="button button-ghost"
     href="https://www.linkedin.com/sharing/share-offsite/?url={{ page.url | prepend: site.url | uri_escape }}"
     target="_blank" rel="noopener">Share on LinkedIn</a>
</section>
