<ul class="main-navigation">
  <li><a href="{{ root_url }}/">About Me</a></li>
  <li><a href="{{ root_url }}/blog">Blog</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
  <li><a href="{{ root_url }}/test-driven-ember">Test-Driven Ember Book</a></li>
  <li><a href="{{ root_url }}/presentations">Presentations</a></li>
  <li><a href="{{ root_url }}/publications">Publications</a></li>
  <li><a href="{{ root_url }}/open-source">Open Source</a></li>
  <li><a href="{{ root_url }}/privacy-policy">Privacy Policy</a></li>
</ul>
